*{
	margin:0;
	padding:0;
	overflow:hidden;
	font-family:serif;
	font-size:16pt;
}

body{
	background-color:#eeeeee;
}

.container{
	position:absolute;
	left:33%;
	width:33%;
	height:33%;
	min-width:300px;
	min-height:200px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-radius:10px;
	box-shadow:0 0 20px 2px black;
}

input{
	margin-bottom:-10px;
	border:none;
	outline:none;
	box-shadow:inset 0 0 5px -2px black;
}

input:hover{
	box-shadow:inset 0 0 7px -2px black;
}

input:focus{
	box-shadow:inset 0 0 10px -2px black;
}

.error{
	border:1px solid red;
}

.success{
	box-shadow:0 0 30px 5px green;
}

.progress{
	box-shadow:0 0 30px 5px orange;
}